[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group dasein-owners
	owner = group user/Drew Lyall (drewlyall)
[access "refs/for/refs/*"]
	read = group user/Drew Lyall (drewlyall)
	push = group user/Drew Lyall (drewlyall)
	label-Code-Review = -2..+2 group user/Drew Lyall (drewlyall)
	label-Verified = -1..+1 group user/Drew Lyall (drewlyall)
	rebase = group user/Drew Lyall (drewlyall)
	removeReviewer = group user/Drew Lyall (drewlyall)
	submit = group user/Drew Lyall (drewlyall)
[access "refs/heads/*"]
	read = group dasein-developers
	read = group dasein-external
	read = group dasein-integrators
	read = group dasein-owners
	read = group user/Drew Lyall (drewlyall)
	create = group user/Drew Lyall (drewlyall)
	push = +force group user/Drew Lyall (drewlyall)
	pushMerge = group user/Drew Lyall (drewlyall)
	forgeAuthor = group dasein-developers
	forgeAuthor = group dasein-integrators
	forgeAuthor = group dasein-owners
	label-Code-Review = -2..+2 group dasein-developers
	label-Code-Review = -2..+2 group dasein-integrators
	label-Code-Review = -2..+2 group dasein-owners
	label-Verified = +0..+1 group dasein-ci
	submit = group dasein-developers
	submit = group dasein-integrators
	submit = group dasein-owners
[access "refs/tags/*"]
	push = +force group user/Drew Lyall (drewlyall)
	pushTag = group user/Drew Lyall (drewlyall)
	pushSignedTag = group user/Drew Lyall (drewlyall)
	read = group dasein-developers
	read = group dasein-external
	read = group dasein-integrators
	read = group dasein-owners
[access "refs/for/refs/heads/*"]
	push = group dasein-developers
	push = group dasein-external
	push = group dasein-integrators
	push = group dasein-owners
	pushMerge = group dasein-developers
	pushMerge = group dasein-integrators
	pushMerge = group dasein-owners
	forgeCommitter = group dasein-integrators
	forgeCommitter = group dasein-owners
